@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');

.navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 11%;
    height: 100vh;
    margin: 0rem 0rem 0rem 0rem;
    background-color: #FAA916;
    overflow: hidden;
}

.nav-link {
    display: flex;
    align-items: center;
    font-size: 1.25rem;
    font-weight: 500;
    text-decoration: none;
    text-decoration-color: none;
    margin-bottom: 10rem;
    margin-top: -10rem;
}

.img-icon {
    display: row;
    justify-content: center;
    align-items: center;
    margin: 1rem;

}