@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');

* {
  border: 2px solid black;
}

.App {
  font-family: 'Noto Sans TC';
  display: flex;
  max-width: 1920px;
  max-height: 100vh;
  margin: auto;
  padding: 0rem 5% 0rem 5%;
  overflow: hidden;
}